html{
  font-size: 14px;
}
button{
  border: 2px solid purple;
  padding: 10px 12px;
}
button:hover {
  background-color: purple;
  color: white;
}
#NavList {
  display:flex;
  list-style-type: none;
  justify-content: space-between;
  align-items:center;
  border: 2px solid;
  padding: 1%;
  margin-top: .5%
}
.NavListItem > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px
}
#DarkMode {
  margin-left: 90%;
}
#WelcomeLine{
  padding: 1%;
  border: 1px dashed;
}
#PageTopics{
  display:flex;
  flex-direction: column;
}
.PageSection {
  border: 2px solid;
  margin: 10px;
  width: 50%;
  padding: 2%;
  background-color:
}
h1{
  padding: 1%
}
//{
  display:flex;
  flex-direction: column;
}
body{
  background: #dbf0f9;
  background-image: linear-gradient(to left, #ccccff, #dbf0f9);
  text-align: justify;
  color: #4a4443;
  font-family: "Syne Mono", Lucida, serif;
  border:2px solid;
  padding: 1%;
}
h1{
  text-align: center;
  font-family: "Lucida Calligraphy", Lucida, serif;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 1.05rem;
  margin-bottom: 0;
}
h2{
  text-align:center;
  margin-top: 1%;
}
h3{
  /*text-decoration-line: underline;*/
  font-size:2rem;
  margin-top: 0;
}
blockquote{
  text-align:center;
  font-style: italic;
}
a{
  color:orange;
}
p{
  font-size: 1.25rem;
  line-height: 1.5;
}
img.center{
  display:block;
  margin-left: auto;
  margin-right: auto;
  border: 5px; border-style:solid;
}
#Why{
  margin-left: 255px;
}
#TheBean{
  width:40%;
  height:40%;
  border: 2px solid black;
  margin-left: 210px;
}
#MrKrabs{
  width:30%;
  height:30%;
  border: 2px solid black;
  margin-left: 250px;
}
#Great{
  margin-left: 100px;
}
#Timeline{
  margin-left: 500px
}
#SoloDolo{
  margin-left: 100px;
}
#Ready{
  margin-left: 500px;
}
#InTheWorks{
  margin-left:100px;
}
}
.InTheWorksPic{
  width: 120px;
  height: 120px;
  margin: 3px;
}
#ThirtyProjectBox{
  margin-left: 255px;
}
.thirty{
  text-align: center;
  border: 20px;
}
#ProgressTitle{
  font-size: 1.25rem;
}
progress::-webkit-progress-bar{
  background-color: "lightgray";
  border-radius: 2px;
}
progress::-webkit-progress-value{
  background-color: purple;
}
ol{
  list-style-position: inside;
  line-height: 1.5;
}
#EndQuote{
  padding: 1.5%;
}
#Shia{
  margin-left: 40%;
  margin-bottom: 2%
}
#ShiaGif{
  visibility: hidden;
}
footer{
  text-align: center;
  font-size: 1.25rem;
}
.Social{
  height:30px;
  width: 30px;
}
